body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
}

fieldset {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #18abff;
    color: white;
    margin-left: 0px; 
    margin-right: 0px;
    /* Arrondir les coins en haut à gauche et en bas à droite
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;*/
}

h2 {
    color: #1E90FF;     
}

.divContent {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    float: left;
    width: 95%;
}

/*****************************************************************************/
/********************************* HEADER ************************************/
/*****************************************************************************/

#divHeader {
    background-color: #666666;
    color: #ffffff;
    height: 55px;
    padding: 10px;
}

.headerCommandButton {
    border: 1px #ffffff solid;
    height: 35px;
    float: right;
    margin: 10px;
    background-color: #666666;
    color: #ffffff;
    font-size: 12px !important;
}

table.panelHeaderButton {
    float: right !important;
}

table.panelHeader {
    width: 100% !important;
}

table.panelHeader td.ui-panelgrid-cell {
    background-color: #666666;
    border-style: none;
}

table.panelHeader td.ui-panelgrid-cell a.headerTitle {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    margin-left: 50px;
    color: #ffffff;
    text-decoration:none;
}

table.panelHeader td.ui-panelgrid-cell a.headerSubtitle {
    font-size: 20px;
    font-weight: 100;
    margin-left: 18px;
    color: #ffffff;
    text-decoration:none;
}

/*****************************************************************************/
/********************************* FOOTER ************************************/
/*****************************************************************************/

#divFooter {
    background-color: #666666;
    color: #ffffff;
    height: 20px;
    padding: 20px;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    clear: both;
    bottom: 0;
}

/*****************************************************************************/
/********************************* SEARCH ************************************/
/*****************************************************************************/

#divSearch {
    background-color: #66cccc;
    color: #333333;
    font-size:20px;
    font-weight: 200;
    height: 50px;
    padding: 10px;
    text-align: center;
    border-color: #666666;
    border-width: 1px;
    border-style: solid;
}

.searchCommandButton {
    border: 1px #333333 solid;
    height: 30px;
    margin: 10px;
    background-color: #cccccc;
    color: #333333;
    font-size: 12px;
}

.searchInputText {
    border: 1px #666666 solid;
    height: 26px;
    margin: 10px;
    background-color: #ffffff;
    color: #333333;
    font-size: 12px;
}


.sortBar{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px #1E90FF solid;
    background-color: #1E90FF;
    color: white;
    /*arrondir les coins en haut à gauche et en bas à droite*/
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;   
}

/*****************************************************************************/
/************************* CONTRACTOR INFORMATION ****************************/
/*****************************************************************************/

#divPresentation {
    width: 100%;
    height: 120px;
    background-color: #18abff;
    font-size: 34px;
    font-weight: bold;
    color: white;
}

#divImagePresentation {
    float: left; 
    text-align: center;
}

#divDetailsPresentation {
    float: left; 
    margin-left: 15px; 
    margin-top: 22px;
}

#divInformationsPresentation {
    font-size: 18px; 
    font-weight: 100; 
    margin-top: 10px;
}

#divSubPresentation {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
}

.divDetailsPrestations {
    width: 45%; 
    margin-right: 20px; 
    margin-bottom: 20px;
}

.divReviews {
    width: 100%;
    float: left; 
    margin-right: 20px;
    margin-bottom: 20px;
}

.diveRateReview {
    width: 100%; 
    height: 20px; 
    margin-top: 10px;
}

.imageLogo {
    height: 120px;
}

#divPresentation {
    width: 100%;
    height: 120px;
    background-color: #18abff;
    font-size: 34px;
    font-weight: bold;
    color: white;
}

#divImagePresentation {
    float: left; 
    text-align: center;
}

#divDetailsPresentation {
    float: left; 
    margin-left: 15px; 
    margin-top: 22px;
}

#divInformationsPresentation {
    font-size: 18px; 
    font-weight: 100; 
    margin-top: 10px;
}

#divSubPresentation {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
}

.divDetailsPrestations {
    width: 45%; 
    float: left;
    margin-right: 20px; 
    margin-bottom: 20px;
}

.divReviews {
    float: left; 
    margin-right: 20px;
    margin-bottom: 20px;
}

.diveRateReview {
    width: 100%; 
    height: 20px; 
    margin-top: 10px;
}

.imageLogo {
    height: 120px;
}

#rating {
    margin-bottom: 15px;
    margin-left: 0px;
    width: 100%;
    float: left;
}

#divDescription {
    width: 100%;
}

#divPrestations {
    width: 100%;
}

label.ratingH2 {
    color: #1E90FF;
    font-size: 1.5em;
    font-weight: bold;
}

form#reviewForm {
    width: 100%;
    margin-left: -2px;

}

.divContractorLogo {
    float: left;
    margin-top: 20px;
}

.panelCompanyInformation {
    float: left;
    margin-left: 20px;
    border-left-width: 3px !important;
    border-left-color: darkgray !important;
    border-left-style: ridge !important;
}

.labelTitleContractorInformation {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #336c6c;
    height: 35px;
    font-size: 20px;
    min-width: 200px;
}

/*****************************************************************************/
/***************************** SERVICE MANAGER********************************/
/*****************************************************************************/

.divContractorAddService {
    width: 40%;
    float: right;
    margin-bottom: 20px;
}

.divCurrentContractorServices {
    width: 55%;
    float: left;
}

.divLeftContractorService {
    width: 100%;
    float: left;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: darkslategray;
    border-width: 1px;
    margin-bottom: 20px;
}

.divServiceTitle {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #66cccc;
    font-weight: 100;
    font-size: 22px;
}

.divLoginTitle {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #008B8B;
    font-weight: 100;
    font-size: 22px;
    margin-left: 20px;
    font-weight: bold
}

.spanServiceCategory {
    color: #1E90FF;
    font-weight: 600;
}
 
.divServiceButton {
    margin-top: 10px;
    margin-bottom: 10px;
}

.leftServiceButton{
    float: left;
    margin-top: 10px;
}
 
.rightServiceButton{
    float: right;
}

.updateButtonService {
}

.removeButtonService {
    background-color: red !important; 
    color: #f6f6f6 !important;
}

#divAddServiceTitle {
    color: #66cccc;
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 10px;
}

.inputNewContractorService {
    width: 100%;
    min-height: 25px;
    margin-bottom: 5px;
}

/*****************************************************************************/
/**************************** TENDERER MANAGER *******************************/
/*****************************************************************************/

.labelTitleTendererInformation {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #336c6c;
    height: 35px;
    font-size: 20px;
    min-width: 200px;
}

.commandButtonEditTenderer {
    margin-top: 20px;
}

.divTendererAvatar {
    float: left;
    margin-top: 20px;
}

.panelTendererInformation {
    float: left;
    margin-left: 20px;
    border-left-width: 3px !important;
    border-left-color: darkgray !important;
    border-left-style: ridge !important;
}

.divTendererReviewInformation {
    float: left; 
    width: 90%;
}

.divTendererReviewButton {
    float: left; 
    width: 90%; 
    padding-top: 10px;
    color: #336c6c;
}

.divImageReviewTenderer {
    margin-right: 10px;
    width: 50px; 
    height: 120px; 
    text-align: center; 
    float: left; 
    background-color: #66cccc; 
    padding-top: 20px;
}

.divReviewContractorNameTenderer {
    font-size: 22px;
    color: #336c6c;
}

.divReviewAppreciationTenderer {
    font-size: 22px;
}

.divReviewUpdateDateTenderer {
    font-style: italic; 
    color: lightgray; 
    margin-left: 10px;
    font-size: 14px;
}

/*****************************************************************************/
/*************************** CONTRACTOR MANAGER ******************************/
/*****************************************************************************/

.panelReviewContractor {
    width: 100%; 
    float: left;
    margin-bottom: 15px;
}

.starsReviewContractor {
    float: left; 
    margin-left: 20px;
}

.leftPanelContractor {
    width: 45%; 
    float: left;
    height: 140px;
    margin-top: 40px;
    border-bottom-width: 3px;
    border-bottom-color: darkgray;
    border-bottom-style: ridge;
}

.rightPanelContractor {
    width: 50%; 
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 180px;
}

.divContractorReviewComment {
    width: 18%; 
    height: 100%; 
    float: right;
}

form .textAreaContractorReviewComment {
    width: 80%; 
    height: 135px; 
    float: left;
}

.divTitleReviewComment {
    height: 40px; 
    font-size: 22px;
}

.divRatingContractorReview {
    width:100%; 
    height: 30px;
}

.divTendererContractorReview {
    margin-top: 10px; 
    float: bottom;
}

.labelPresentationContractorReview {
    font-size: 20px; 
    color: #336c6c; 
    float: left;
}

form .deleteButtonContractorReview {
    width: 100%; 
    height: 50px; 
    background-color: red !important; 
    color: #f6f6f6 !important;
}

form .updateButtonContractorReview {
    width: 100%; 
    height: 95px; 
    float: top; 
    background-color: #336c6c !important; 
    color: #66cccc !important;
}

/* Moderator */

.titlePanelReviewAdmin {
    font-size: 22px;
}

.panelReviewAdmin {
    width: 100%; 
    float: left;
}

.starsReviewAdmin {
    float: right; 
    margin-left: 20px;
}

.labelTitleReviewAdmin {
    font-size: 22px;
    font-weight: bold;
}

.labelDateReviewAdmin {
    font-size: 15px;
    color: gray;
}

.divImageReviewAdmin {
    width: 50px; 
    height: 120px; 
    text-align: center; 
    float: left; 
    background-color: #66cccc; 
    padding-top: 20px;
}

.divDescriptionReviewAdmin {
    float: left; 
    margin-left: 20px; 
    height: 100%;
}

.leftPanelAdmin {
    width: 45%; 
    float: left;
    height: 140px;
    margin-top: 40px;
    border-right-width: 3px;
    border-right-color: darkgray;
    border-right-style: ridge;
}

.rightPanelAdmin {
    width: 50%; 
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 150px;
}

.rightPanelTitleAdmin {
    width: 50%; 
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    height: 30px;
}

.rightPanelTitleLeftAdmin {
    width: 35%; 
    float: left;
}

.rightPanelTitleRightAdmin {
    width: 60%; 
    float: right;
}

.buttonsRightPanelAdmin {
    float: left; 
    width: 35%;
}

.divButtonsRightPanelAdmin {
    width: 100%; 
    text-align: center;
}

.divButtonsLeftRightPanelAdmin {
    float: left; 
    height: 140px; 
    width: 48%;
}

.inputLeftPanelAdmin {
    float: right; 
    width: 60%;
}

.inputReviewAdmin {
    float: left; 
    height: 130px !important; 
    width: 70%;
}

.commandButtonSaveAdmin {
    float: right; 
    height: 140px !important; 
    width: 25%;
    background-color: #336c6c;
    color: #66cccc;
    font-size: 15px !important;
    font-weight: 100;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.commandButtonSaveAdmin:active {
    background-color: #666666;
}


.commandButtonChoice {
    background-color: #66cccc;
    color: #336c6c;
    font-size: 15px !important;
    font-weight: 100;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.commandButtonChoiceSelected {
    background-color: #336c6c;
    color: #66cccc;
    font-size: 15px !important;
    font-weight: 100;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer   
}

form .deleteButtonContractorReview {
    width: 100%; 
    height: 50px; 
    background-color: red !important; 
    color: #f6f6f6 !important;
}

form .updateButtonContractorReview {
    width: 100%; 
    height: 95px; 
    float: top; 
    background-color: #336c6c !important; 
    color: #66cccc !important;
}

/*****************************************************************************/
/******************************** MODERATOR **********************************/
/*****************************************************************************/

.titlePanelReviewAdmin {
    font-size: 22px;
}

.panelReviewAdmin {
    width: 100%; 
    float: left;
}

.starsReviewAdmin {
    float: right; 
    margin-left: 20px;
}

.labelTitleReviewAdmin {
    font-size: 22px;
    font-weight: bold;
}

.labelDateReviewAdmin {
    font-size: 15px;
    color: gray;
}

.labelModificationForm 
{
    display: block;
    width: 130px;
    float: left;
    color: #008080;
}



.divImageReviewAdmin {
    width: 50px; 
    height: 120px; 
    text-align: center; 
    float: left; 
    background-color: #66cccc; 
    padding-top: 20px;
}

.divDescriptionReviewAdmin {
    float: left; 
    margin-left: 20px; 
    height: 100%;
}

.leftPanelAdmin {
    width: 45%; 
    float: left;
    height: 140px;
    margin-top: 40px;
    border-right-width: 3px;
    border-right-color: darkgray;
    border-right-style: ridge;
}

.rightPanelAdmin {
    width: 50%; 
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 150px;
}

.rightPanelTitleAdmin {
    width: 50%; 
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    height: 30px;
}

.rightPanelTitleLeftAdmin {
    width: 35%; 
    float: left;
}

.rightPanelTitleRightAdmin {
    width: 60%; 
    float: right;
}

.buttonsRightPanelAdmin {
    float: left; 
    width: 35%;
}

.divButtonsRightPanelAdmin {
    width: 100%; 
    text-align: center;
}

.divButtonsLeftRightPanelAdmin {
    float: left; 
    height: 140px; 
    width: 48%;
}

.inputLeftPanelAdmin {
    float: right; 
    width: 60%;
}

.inputReviewAdmin {
    float: left; 
    height: 130px !important; 
    width: 70%;
}

.commandButtonSaveAdmin {
    float: right; 
    height: 140px !important; 
    width: 25%;
    background-color: #336c6c;
    color: #66cccc;
    font-size: 15px !important;
    font-weight: 100;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.commandButtonSaveAdmin:active {
    background-color: #666666;
}

.commandButtonChoice {
    background-color: #66cccc;
    color: #336c6c;
    font-size: 15px !important;
    font-weight: 100;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.commandButtonChoiceSelected {
    background-color: #336c6c;
    color: #66cccc;
    font-size: 15px !important;
    font-weight: 100;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
}

/*****************************************************************************/
/************************** PRIMEFACES REDEFINTION ***************************/
/*****************************************************************************/

.ui-corner-all {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #ffffff;
    background: none;
    font-weight: inherit;
    text-shadow: none;
    background-color: #666666;
    color: #ffffff;
}

.ui-state-default {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield {
    background-color: #f6f6f6;
    color: #333333;
}

.ui-tabs {
    padding: 0em !important;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav {
    padding: 0em !important;
}

.ui-tabs .ui-tabs-nav {
    background-color: #66cccc;
    background: #66cccc;
    border-bottom-color: #666666;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-top-color: #666666;
    border-top-width: 2px;
    border-top-style: solid;
    border-left-width: 0px;
    border-left-style: none;
    border-right-width: 0px;
    border-right-style: none;
   
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    background-color: #336c6c;
    color: #66cccc;
    cursor: pointer !important;
    text-shadow: none;
    font-weight: 100;
    font-size: 22px;
    border-style: solid;
    border-color: #666666;
    border-width: 2px;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    background-color: #66cccc;
    color: #336c6c;
    text-shadow: none;
    font-weight: 100;
    font-size: 22px;
    border-style: solid;
    border-color: #666666;
    border-width: 2px;
    margin: -2px;
}

.ui-tabs .ui-tabs-nav li {
    margin: 0em !important;
    position: inherit !important;
}

/*****************************************************************************/
/********************************* DIALOG ************************************/
/*****************************************************************************/

.dialogTitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dialogFooter {
    text-align: center;
    padding: 10px;
}

#starsTxt1, #stars1 {
    display: inline-block;
    margin-right: 10px;
}

#starsTxt2, #stars2 {
    display: inline-block;
    margin-right: 10px;
}

.ui-panelgrid .ui-panelgrid-cell {
    padding: 0px !important;
}

.ui-widget-content {
    border: none;
}

.ui-inputfield {
    background-color: white;
    color: dimgrey;
}



.erreur {
    color: #900;

/*****************************************************************************/
/******************************** TAB STYLE **********************************/
/*****************************************************************************/

.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #612e76;

}

 
.tabs {
  width: 650px;
  float: none;
  list-style: none;
  position: relative;
  margin: 80px 0 0 10px;
  text-align: left;
}

.styled-select selectTypeAdmin {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

