body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    background: none !important;
    padding-bottom: 70px;
}

fieldset {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #18abff;
    color: white;
    margin-left: 0px; 
    margin-right: 0px;
    /* Arrondir les coins en haut à gauche et en bas à droite
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;*/
}

h2 {
    color: #1E90FF;     
}

td {
    padding-left: 15px !important;
}

.panelSimple {
    border-radius: 0 !important;
    border-width: 0px !important;
    background-color: #666666 !important;
    color: white !important;
    font-size: 16px !important;
    font-weight: 200 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.panelSimple .panel-body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.containerCarroussel {
    /*background: linear-gradient(white, #97c857);*/
    background-color: #97c857; 
    color: #444444;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 50px;
}

.containerCarrousselItem {
    margin-top: 20px;
    margin-bottom: 20px;
}

#divError {
    text-align: center; 
    padding-top: 50px; 
    padding-bottom: 50px;
}

.buttonDivError {
    margin-top: 30px;
}

/******************************** CATEGORY ***********************************/

#columnImageBatiment .panel-heading {
    background-color: #9966ff !important;
}

#columnImageRestauration .panel-heading {
    background-color: #ff6666 !important;
}

#columnImageInformatique .panel-heading {
    background-color: #18abff !important;
}

#columnImageAnimation .panel-heading {
    background-color: #cc0099 !important;
}

#columnImageDivers .panel-heading {
    background-color: #97c857 !important;
}

.columnImageCategory .panel-body {
    padding: 0px !important;
    font-weight: 200 !important;
}

.imageCategory {
    width: 100%;
    opacity: 0.4;
    cursor: pointer;
}

.imageCategory:hover {
    opacity: 0.8;
}


/*****************************************************************************/
/********************************* HEADER ************************************/
/*****************************************************************************/

#divHeader {
    background-color: #666666;
    color: #ffffff;
    height: 55px;
    padding: 10px;
}

.headerCommandButton {
    border: 1px #ffffff solid;
    height: 35px;
    float: right;
    margin: 10px;
    background-color: #666666;
    color: #ffffff;
    font-size: 12px !important;
    cursor: pointer;
}

table.panelHeaderButton {
    float: right !important;
}

table.panelHeader {
    width: 100% !important;
}

table.panelHeader td.ui-panelgrid-cell {
    background-color: #666666;
    border-style: none;
}

table.panelHeader td.ui-panelgrid-cell a.headerTitle {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    margin-left: 30px;
    color: #ffffff;
    text-decoration:none;
}

table.panelHeader td.ui-panelgrid-cell a.headerSubtitle {
    font-size: 20px;
    font-weight: 100;
    color: #ffffff;
    text-decoration:none;
}

.formNotificationHeader {
    margin-right: 10px;
}

.commandButtonNotificationImage {
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.overlayPanelNotification {
    top: 60px !important;
}

.overlayPanelNotification .ui-overlaypanel-content {
    padding: 0em !important;
    max-width: 550px;
}

.overlayPanelNotification .ui-overlaypanel-content .commandButtonClickNotification {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: darkslategray;
    color: #555555;
    white-space: pre;
    text-align: left;
    font-size: 18px;
}

.overlayPanelNotification .ui-overlaypanel-content .commandButtonClearNotification {
    margin-top: 10px;
    background-color: #666666;
}

#divTitleNotification {
    margin: 0px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    background-color: #222222; 
    font-size: 20px; 
    color: white; 
    width: 100%; 
    text-align: center;
}

#divNotificationList {
    margin-left: 20px; 
    margin-right: 20px; 
    margin-top: 10px; 
    margin-bottom: 10px;
    text-align: center;
}

.divNotification {
    width: 100%;
}

.commandButtonNotification {
    color: #666666 !important;
}

.commandButtonAsReadNotification {
    margin-top: 10px;
}

#navBack {
    background-color: #97c857; 
    border-color: #97c857; 
    border-radius: 0; 
    height: 40px;
    min-height: 0px;
}

/*****************************************************************************/
/********************************* FOOTER ************************************/
/*****************************************************************************/

#divFooter {
    background-color: #666666;
    color: #ffffff;
    height: 20px;
    padding: 20px;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    clear: both;
    bottom: 0;
}

/*****************************************************************************/
/********************************* SEARCH ************************************/
/*****************************************************************************/

#divSearch {
    background-color: #97c857;
    color: #333333;
    font-size:20px;
    font-weight: 200;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    border-color: #666666;
    border-width: 1px;
    border-style: solid;
}

.searchCommandButton {
    border: 1px #333333 solid;
    height: 30px;
    margin: 10px;
    background-color: #cccccc;
    color: #333333;
    font-size: 12px;
}

.searchInputText {
    border: 1px #666666 solid;
    height: 26px;
    margin: 10px;
    background-color: #ffffff;
    color: #333333;
    font-size: 12px;
}


.sortBar{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px #1E90FF solid;
    background-color: #1E90FF;
    color: white;
    /*arrondir les coins en haut à gauche et en bas à droite*/
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;   
}

.fieldsetNoResult {
    text-align: center; 
    width: 100%; 
    margin-top: 50px; 
    font-size: 18px;
}

/*****************************************************************************/
/************************* CONTRACTOR INFORMATION ****************************/
/*****************************************************************************/

#divPresentation {
    width: 100%;
    height: 120px;
    background-color: #18abff;
    font-size: 34px;
    font-weight: bold;
    color: white;
}

#divImagePresentation {
    float: left; 
    text-align: center;
}

#divDetailsPresentation {
    float: left; 
    margin-left: 15px; 
    margin-top: 22px;
}

#divInformationsPresentation {
    font-size: 18px; 
    font-weight: 100; 
    margin-top: 10px;
}

#divSubPresentation {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
}

.divDetailsPrestations {
    width: 45%; 
    margin-right: 20px; 
    margin-bottom: 20px;
}

.divReviews {
    width: 48%;
    float: left; 
    margin-right: 20px;
    margin-bottom: 20px;
}

.diveRateReview {
    width: 100%; 
    height: 20px; 
    margin-top: 10px;
}

.imageLogo {
    height: 120px;
}

#divPresentation {
    width: 100%;
    height: 120px;
    background-color: #18abff;
    font-size: 34px;
    font-weight: bold;
    color: white;
}

#divImagePresentation {
    float: left; 
    text-align: center;
}

#divDetailsPresentation {
    float: left; 
    margin-left: 15px; 
    margin-top: 22px;
}

#divInformationsPresentation {
    font-size: 18px; 
    font-weight: 100; 
    margin-top: 10px;
}

#divSubPresentation {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
}

.divDetailsPrestations {
    width: 45%; 
    float: left;
    margin-right: 20px; 
    margin-bottom: 20px;
}

.divReviews {
    float: left; 
    margin-right: 20px;
    margin-bottom: 20px;
    border-bottom-color: black;
    border-bottom-style: ridge;
    border-bottom-width: 1px;
    padding-bottom: 20px;
}

.diveRateReview {
    width: 100%; 
    height: 20px; 
    margin-top: 10px;
}

.imageLogo {
    height: 120px;
}

#rating {
    margin-left: 0px;
    width: 100%;
    float: left;
}

#divDescription {
    width: 100%;
}

#divPrestations {
    width: 100%;
}

label.ratingH2 {
    color: #1E90FF;
    font-size: 1.5em;
    font-weight: bold;
}

form#reviewForm {
    width: 100%;
    margin-left: -2px;
}

.divContractorLogo {
    margin-right: 20px;
    border-right-width: 2px !important;
    border-right-color: darkgray !important;
    border-right-style: ridge !important;
}

.labelTitleContractorInformation {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #336c6c;
    height: 35px;
    font-size: 20px;
    min-width: 200px;
}

/*****************************************************************************/
/***************************** SERVICE MANAGER********************************/
/*****************************************************************************/

.divContractorAddService {
    width: 40%;
    float: right;
    margin-bottom: 20px;
}

.divCurrentContractorServices {
    width: 55%;
    float: left;
}

.divLeftContractorService {
    width: 100%;
    float: left;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: darkslategray;
    border-width: 1px;
    margin-bottom: 20px;
}

.divServiceTitle {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #66cccc;
    font-weight: 100;
    font-size: 22px;
}

.divLoginTitle {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #008B8B;
    font-weight: 100;
    font-size: 22px;
    margin-left: 20px;
    font-weight: bold
}

.spanServiceCategory {
    color: #1E90FF;
    font-weight: 600;
}

.divServiceButton {
    margin-top: 10px;
    margin-bottom: 10px;
}

.leftServiceButton{
    float: left;
    margin-top: 10px;
}

.rightServiceButton{
    float: right;
}

.updateButtonService {
}

.removeButtonService {
    background-color: red !important; 
    color: #f6f6f6 !important;
}

#divAddServiceTitle {
    color: #66cccc;
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 10px;
}

.inputNewContractorService {
    width: 100%;
    min-height: 25px;
    margin-bottom: 5px;
}

/*****************************************************************************/
/**************************** TENDERER MANAGER *******************************/
/*****************************************************************************/

.wizardPseudoClass {
    margin-top: 20px;
}

.buttonAskReview {
    margin-top: 5px !important;
    color: #fff !important;
    background-color: #73A839 !important;
    border-color: #73A839 !important;
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    white-space: nowrap !important;
    padding: 5px 7px !important;
    font-size: 13px !important;
    line-height: 1.428571429 !important;
    border-radius: 4px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.buttonAskReview:hover {
    background-color: #59822c !important;
    border-color: #547a29 !important;
}

.buttonRegistration {
    margin-top: 20px !important;
    color: #fff !important;
    background-color: #73A839 !important;
    border-color: #73A839 !important;
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    white-space: nowrap !important;
    padding: 8px 12px !important;
    font-size: 14px !important;
    line-height: 1.428571429 !important;
    border-radius: 4px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.buttonRegistration:hover {
    background-color: #59822c !important;
    border-color: #547a29 !important;
}

.labelTitleTendererInformation {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #336c6c;
    height: 35px;
    font-size: 20px;
    min-width: 200px;
}

.commandButtonEditTenderer {
    margin-top: 20px;
}

.divTendererAvatar {
    float: left;
    margin-top: 20px;
}

.panelTendererInformation {
    float: left;
    margin-left: 20px;
    border-left-width: 3px !important;
    border-left-color: darkgray !important;
    border-left-style: ridge !important;
}

.divTendererReviewInformation {
    float: left; 
    width: 90%;
}

.divTendererReviewButton {
    float: left; 
    width: 90%; 
    padding-top: 10px;
    color: #336c6c;
}

.divImageReviewTenderer {
    margin-right: 10px;
    width: 50px; 
    height: 120px; 
    text-align: center; 
    float: left; 
    background-color: #66cccc; 
    padding-top: 20px;
}

.divReviewContractorNameTenderer {
    font-size: 22px;
    color: #336c6c;
}

.divReviewAppreciationTenderer {
    font-size: 22px;
}

.divReviewUpdateDateTenderer {
    font-style: italic; 
    color: lightgray; 
    margin-left: 10px;
    font-size: 14px;
}

.divReviewsTenderer {
    width: 100%;
    float: left; 
    margin-right: 20px;
    margin-bottom: 20px;
}

.rowTendererField {
    padding-left: 20px; 
    padding-top: 10px;
}

.columnTendererField {
    font-size: 18px; 
    font-weight: 100; 
    border-left-color: darkgray; 
    border-left-style: solid; 
    border-left-width: 1px;
}

/*****************************************************************************/
/*************************** CONTRACTOR MANAGER ******************************/
/*****************************************************************************/

.panelContractor {
    margin-top: 20px;
    text-align: right;
}

.panelContractor .panel-heading {
    background-color: #2FA4E7 !important;
    color: white !important;
    padding: 0px;
    font-size: 18px; 
    font-weight: 100; 
    text-align: left;
}

.panelContractor .panel-heading .outputTextTitle {
    font-size: 34px;
    font-weight: bold;
}

.panelContractor .panel-heading .rowContractor {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.panelContractor .outputTextRating {
    margin-left: 20px;
}

.panelContractorDescription {
    text-align: left;
    font-size: 14px !important;
}

.panelContractorDescription .panel-heading {
    background-color: #2FA4E7 !important;
    color: white !important;
    padding: 5px;
    padding-left: 28px;
    font-size: 18px; 
}

.panelReview {
    text-align: left;
    font-size: 14px !important;
}

.panelReview .panel-heading {
    background-color: #2FA4E7 !important;
    color: white !important;
    padding: 5px;
    padding-left: 28px;
    font-size: 18px;
}

.panelReview .panel-heading a:after {
    content: none !important;
}

.panelReview .panel-heading .outputTextSubTitle {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 100;
}

.aTendererLink {
    color: lightcyan !important;
    padding-left: 5px;
}

.aContractorLink {
    color: #333333 !important; 
    margin-left: 5px;
}

.buttonBackRegistration {
    margin-top: 20px !important;
    background-color: #2FA4E7 !important;
    border-color: #2FA4E7 !important;
    color: #fff !important;
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    white-space: nowrap !important;
    padding: 8px 12px !important;
    font-size: 14px !important;
    line-height: 1.428571429 !important;
    border-radius: 4px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.buttonBackRegistration:hover {
    background-color: #178acc !important;
    border-color: #1684c2 !important;
}

.panelReviewContractor {
    width: 100%; 
    float: left;
    margin-bottom: 15px;
}

.starsReviewContractor {
    float: left; 
    margin-left: 20px;
}

.leftPanelContractor {
    width: 45%; 
    float: left;
    height: 140px;
    margin-top: 40px;
    border-bottom-width: 3px;
    border-bottom-color: darkgray;
    border-bottom-style: ridge;
}

.rightPanelContractor {
    width: 50%; 
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 180px;
}

.divContractorReviewComment {
    width: 18%; 
    height: 100%; 
    float: right;
}

form .textAreaContractorReviewComment {
    width: 80%; 
    height: 135px; 
    float: left;
}

.divTitleReviewComment {
    height: 40px; 
    font-size: 22px;
}

.divRatingContractorReview {
    width:100%; 
    height: 30px;
}

.divTendererContractorReview {
    margin-top: 10px; 
    float: bottom;
}

.labelPresentationContractorReview {
    font-size: 20px; 
    color: #336c6c; 
    float: left;
}

form .deleteButtonContractorReview {
    width: 100%; 
    height: 50px; 
    background-color: red !important; 
    color: #f6f6f6 !important;
}

form .updateButtonContractorReview {
    width: 100%; 
    height: 95px; 
    float: top; 
    background-color: #336c6c !important; 
    color: #66cccc !important;
}

#divReviewsContractorInformations {
    width: 100%;
    float: left;
}

.commandButtonSaveAdmin {
    float: right; 
    height: 140px !important; 
    width: 25%;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.commandButtonChoice {
    height: 40px;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.commandButtonChoiceSelected {
    height: 40px;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
}

form .deleteButtonContractorReview {
    width: 100%; 
    height: 50px; 
    background-color: red !important; 
    color: #f6f6f6 !important;
}

form .updateButtonContractorReview {
    width: 100%; 
    height: 95px; 
    float: top; 
    background-color: #336c6c !important; 
    color: #66cccc !important;
}

/*****************************************************************************/
/******************************** MODERATOR **********************************/
/*****************************************************************************/

.titlePanelReviewAdmin {
    font-size: 22px;
}

.panelReviewAdmin {
    width: 100%; 
    float: left;
}

.starsReviewAdmin {
    float: right; 
    margin-left: 20px;
}

.labelTitleReviewAdmin {
    font-size: 22px;
    font-weight: bold;
    padding-left: 15px;
}

.labelDateReviewAdmin {
    font-size: 15px;
    color: gray;
}

.labelModificationForm 
{
    display: block;
    width: 130px;
    float: left;
    color: #008080;
}

.divImageReviewAdmin {
    width: 50px; 
    height: 120px; 
    text-align: center; 
    float: left; 
    background-color: #66cccc; 
    padding-top: 20px;
}

.divDescriptionReviewAdmin {
    float: left; 
    margin-left: 20px; 
    height: 100%;
}

.rightPanelTitleLeftAdmin {
    width: 35%; 
    float: left;
}

.rightPanelTitleRightAdmin {
    width: 60%; 
    float: right;
}

.buttonsRightPanelAdmin {
    float: left; 
    width: 35%;
}

.divButtonsRightPanelAdmin {
    width: 100%; 
    text-align: center;
}

.divButtonsLeftRightPanelAdmin {
    float: left; 
    height: 140px; 
    width: 48%;
}

.inputLeftPanelAdmin {
    float: right; 
    width: 60%;
}

.inputReviewAdmin {
    float: left; 
    height: 130px !important; 
    width: 70%;
}

.commandButtonAdminReview {
    width: 90%;
    margin-top: 5px;
}

.commandButtonAdminReviewSelected {
    cursor: not-allowed !important;
    background-color: lightgray !important;
    border-color: darkgray !important;
    color: darkgray !important;
}

.formResearch {
    margin-top: 15px;
}

.modal-header h4 {
    font-size: 24px;
    margin-bottom: -10px;
}

.commandButtonMessage {
    margin-top: 20px;
}

.buttonCancel {
    margin-top: 20px !important;
    color: #fff !important;
    background-color: #C71C22 !important;
    border-color: #C71C22 !important;
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    white-space: nowrap !important;
    padding: 8px 12px !important;
    font-size: 14px !important;
    line-height: 1.428571429 !important;
    border-radius: 4px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.buttonCancel:hover {
    background-color: #9a161a !important;
    border-color: #911419 !important;
}

/*****************************************************************************/
/******************************* NOTIFICATION ********************************/
/*****************************************************************************/

.divNotificationList {
    margin-top: 20px;
}

.divNotificationHistoric {
    width: 100%; 
    float: left; 
    margin-bottom: 20px;
}

.labelNotificationDate {
    width: 100%; 
    font-size: 16px; 
    float: left; 
    color: dimgray;
}

.labelNotificationDescription {
    width: 100%; 
    font-size: 20px; 
    float: left;
}

.panelGroupMessage {
    margin: 15px;
}

.outputLabelPanelTitle {
    margin-left: 15px; 
    font-size: 18px;
}

.commandButtonClickNotification {
    width: 100% !important;
}

.panelNotification .panel-body {
    padding-bottom: 8px !important;
    padding-left: 0px !important;
}

/*****************************************************************************/
/************************** PRIMEFACES REDEFINTION ***************************/
/*****************************************************************************/

.ui-corner-all {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #ffffff;
    background: none;
    font-weight: inherit;
    text-shadow: none;
    background-color: #666666;
    color: #ffffff;
}

.ui-state-default {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield {
    background-color: #f6f6f6;
    color: #333333;
}

.ui-tabs {
    padding: 0em !important;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav {
    padding: 0em !important;
}

.ui-tabs .ui-tabs-nav {
    background-color: #97c857;
    background: #97c857;
    border-bottom-color: #666666;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-width: 0px;
    border-top-style: solid;
    border-left-width: 0px;
    border-left-style: none;
    border-right-width: 0px;
    border-right-style: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    background-color: #3a6e28;
    color: #97c857;
    cursor: pointer !important;
    text-shadow: none;
    font-weight: 100;
    font-size: 22px;
    height: 100%;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    background-color: #97c857;
    color: #3a6e28;
    text-shadow: none;
    font-weight: lighter;
    font-size: 22px;
    border: none;
}

.ui-tabs .ui-tabs-nav li {
    margin: 0em !important;
    position: inherit !important;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right-color: #666666;
    border-right-width: 1px;
    border-right-style: solid;
}

.ui-growl {
    top: 65px !important;
    width: 350px !important;
}

div.ui-growl-item {
    background-color: whitesmoke !important;
    color: #333333 !important;
    text-shadow: 0px 0px 0px #333333 !important;
}

div.ui-growl-message {
    width: 85% !important;
    font-size: 14px !important;
    padding-top: 7px !important;
}

.ui-growl-item-container {
    opacity: 1.0 !important;
    border: none !important;
}

.ratingCenter {
    max-width: 80px;
    margin-left: auto;
    margin-right: auto; 
}

/*****************************************************************************/
/********************************* DIALOG ************************************/
/*****************************************************************************/

.dialogTitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dialogFooter {
    text-align: center;
    padding: 10px;
}

#starsTxt1, #stars1 {
    display: inline-block;
    margin-right: 10px;
}

#starsTxt2, #stars2 {
    display: inline-block;
    margin-right: 10px;
}

.ui-panelgrid .ui-panelgrid-cell {
    padding: 0px !important;
}

.ui-widget-content {
    border: none;
}

.ui-inputfield {
    background-color: white;
    color: dimgrey;
}

.erreur {
    color: #900;
}

/*****************************************************************************/
/*************************** BOOTFACES REDEFINTION ***************************/
/*****************************************************************************/

.navbar {
    width: 100% !important;
    margin-bottom: 0px !important;
    position: relative !important;
}

.navbar-fixed-top {
    border-color: #666666 !important;
    border-width: 0 0 8px !important;  
} 

.navbar-nav {
    font-size: 20px !important;
    font-weight: 200 !important;
    margin-top: 3px !important;
}

a.navbar-brand {
    font-size: 32px !important;
    color: #ffffff !important;
}

a.navbar-brand:hover {
    color: #ccffcc !important;
}

.navbar-inverse {
    background-color: #222222 !important;
}

.navbar-inverse .btn-link {
    color: #ffffff !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ccffcc !important;
    background-color: transparent !important;
}

footer.footer {
    /*position: absolute !important;*/
    position: fixed;
    color: #ffffff !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 50px !important;
    padding-top: 12px !important;
    background-color: #222222 !important;
    text-align: center !important;
    font-weight: 200 !important;
    border-color: #666666 !important;
    border-width: 8px 0 0 !important;
    border-style: solid !important;
}

.form-group {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.panelHeaderBootsfaces .panel-heading {
    background-color: #2FA4E7 !important;
    color: white !important;
}

.panelHeaderBootsfaces .panel-heading .outputTextTitle {
    margin-left: 20px;
    font-size: 24px;
    font-weight: 300;
    vertical-align: middle;
    color: whitesmoke;
}

.panelHeaderBootsfaces .panel-heading .outputTextRating {
    font-size: 18px;
    font-weight: 200;
    float: right;
}

.panelHeaderBootsfaces .panel-heading a:after {
    content: none !important;
}

.panelHeaderBootsfaces .panel-heading .rating {
    margin-top: 5px;
    float: right;
    margin-left: 10px;
}

.columnRating {
    margin-top: -10px;
}

/*****************************************************************************/
/******************************** TAB STYLE **********************************/
/*****************************************************************************/

.tabs .tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    position: absolute;
    top: 53px;
    left: 0;
    background: #612e76;

}

.tabs {
    width: 650px;
    float: none;
    list-style: none;
    position: relative;
    margin: 80px 0 0 10px;
    text-align: left;
}

.ui-widget-header {
    border: none; 
    background: none;
    border-top-style: solid !important;
    border-top-color: #666666 !important;
    border-top-width: 1px !important;
    padding-top: 10px !important;
}

.styled-select selectTypeAdmin {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}



/*****************************************************************************/
/*************************** Auto-Completion ***************************/
/*****************************************************************************/

.autocompleteInput {
    display: block !important;
    width: 100% !important;
    height: 38px !important;
    padding: 8px 12px !important;
    font-size: 14px !important;
    font-weight: 100 !important;
    line-height: 1.428571429 !important;
    color: #555555 !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
    cursor: text; 
}
.autocompleteInput .ui-state-hover {
    -webkit-appearance: textfield !important;
    background-color: white !important;
    border-top-width: 2px !important;
    border-right-width: 2px !important;
    border-bottom-width: 2px !important;
    border-left-width: 2px !important;
    border-top-style: inset !important;
    border-right-style: inset !important;
    border-bottom-style: inset !important;
    border-left-style: inset !important;
    border-top-color: initial !important;
    border-right-color: initial !important;
    border-bottom-color: initial !important;
    border-left-color: initial !important;
    border-image-source: initial !important;
    border-image-slice: initial !important;
    border-image-width: initial !important;
    border-image-outset: initial !important;
    border-image-repeat: initial !important;
    padding-top: 1px !important;
    padding-right: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 1px !important;
    -webkit-rtl-ordering: logical !important;
    -webkit-user-select: text !important;
    cursor: auto !important;
    border: none !important;
}

.autocompleteInput .ui-inputfield.ui-state-focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.autocompleteInput .ui-state-highlight, .ui-widget-content .ui-state-highlight {
    border: none !important;
    background: #FFFFFF !important;
    color: #888888 !important;
    text-shadow: none !important;
}
