

body
{
    margin-left: 30px;
    margin-right: 30px;
}

fieldset 
{
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px #1E90FF solid;
    background-color: #1E90FF;
    color: white;
    /*arrondir les coins en haut à gauche et en bas à droite*/
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

h2
{
     color: #1E90FF;     
}




